<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Ejemplo de un index.hmtl</h1>
        </header>
        <section>
            <h2>Esta es la tiennda en línea del curso</h2>
        </section>
        <footer>
            todos los derechos reservados TechShop 2020 &copy;
        </footer>
    </body>
</html>
